<header
  class="nav"
  [class.nav--scrolled]="scrolled()"
  [class.nav--open]="open()"
>
  <div class="nav__inner container">
    <a routerLink="/" fragment="accueil" class="nav__brand" (click)="close()">
      <img
        class="nav__logo"
        src="assets/hotel/brand/logo-hm.png"
        alt="Hôtel MA'ACO"
        width="52"
        height="36"
      />
      <span class="nav__name">
        MA'ACO
        <em>Hotels</em>
      </span>
    </a>

    <div class="nav__desktop">
      <nav class="nav__links" aria-label="Navigation principale">
        @for (link of links; track link.label) {
          <a
            [routerLink]="link.path"
            [fragment]="link.fragment || undefined"
            [class.is-active]="!!link.fragment && link.fragment === activeFragment()"
            (click)="close()"
          >
            @switch (link.icon) {
              @case ('hotels') {
                <svg lucideBuilding2 [size]="15"></svg>
              }
              @case ('rooms') {
                <svg lucideBedDouble [size]="15"></svg>
              }
              @case ('services') {
                <svg lucideSparkles [size]="15"></svg>
              }
              @case ('restaurant') {
                <svg lucideUtensilsCrossed [size]="15"></svg>
              }
              @case ('reviews') {
                <svg lucideStar [size]="15"></svg>
              }
              @case ('map') {
                <svg lucideMapPin [size]="15"></svg>
              }
              @case ('contact') {
                <svg lucideMessageSquare [size]="15"></svg>
              }
            }
            <span>{{ link.label }}</span>
          </a>
        }
      </nav>
      <div class="nav__actions">
        <a
          class="nav__icon-btn"
          [href]="hotelService.mailLink()"
          aria-label="Écrire un e-mail"
        >
          <svg lucideMail [size]="18"></svg>
        </a>
        <a
          class="btn btn-primary nav__cta"
          [href]="hotelService.phoneLink(hotelService.selected().phones[0])"
        >
          <svg lucidePhone [size]="16"></svg>
          Réserver
        </a>
      </div>
    </div>

    <div class="nav__mobile-bar">
      <a
        class="nav__call"
        [href]="hotelService.phoneLink(hotelService.selected().phones[0])"
        aria-label="Appeler pour réserver"
      >
        <svg lucidePhone [size]="18"></svg>
      </a>
      <button
        class="nav__burger"
        type="button"
        [attr.aria-expanded]="open()"
        aria-controls="mobile-menu"
        aria-label="Ouvrir le menu"
        (click)="toggle()"
      >
        @if (open()) {
          <svg lucideX [size]="22"></svg>
        } @else {
          <svg lucideMenu [size]="22"></svg>
        }
      </button>
    </div>
  </div>

  <div
    class="nav__backdrop"
    [class.is-visible]="open()"
    (click)="close()"
    aria-hidden="true"
  ></div>

  <aside
    id="mobile-menu"
    class="nav__drawer"
    [class.is-open]="open()"
    [attr.aria-hidden]="!open()"
  >
    <div class="nav__drawer-head">
      <div>
        <p class="nav__drawer-kicker">Hôtel MA'ACO</p>
        <p>Explorer</p>
      </div>
      <button type="button" class="nav__drawer-close" (click)="close()" aria-label="Fermer">
        <svg lucideX [size]="20"></svg>
      </button>
    </div>

    <nav class="nav__drawer-links" aria-label="Navigation mobile">
      @for (link of links; track link.label; let i = $index) {
        <a
          [routerLink]="link.path"
          [fragment]="link.fragment || undefined"
          [style.--i]="i"
          (click)="close()"
        >
          <span class="nav__drawer-icon">
            @switch (link.icon) {
              @case ('hotels') {
                <svg lucideBuilding2 [size]="18"></svg>
              }
              @case ('rooms') {
                <svg lucideBedDouble [size]="18"></svg>
              }
              @case ('services') {
                <svg lucideSparkles [size]="18"></svg>
              }
              @case ('restaurant') {
                <svg lucideUtensilsCrossed [size]="18"></svg>
              }
              @case ('reviews') {
                <svg lucideStar [size]="18"></svg>
              }
              @case ('map') {
                <svg lucideMapPin [size]="18"></svg>
              }
              @case ('contact') {
                <svg lucideMessageSquare [size]="18"></svg>
              }
            }
          </span>
          <span>{{ link.label }}</span>
        </a>
      }
    </nav>

    <div class="nav__drawer-cta">
      <a
        class="btn btn-primary"
        [href]="hotelService.phoneLink(hotelService.selected().phones[0])"
        (click)="close()"
      >
        <svg lucidePhone [size]="18"></svg>
        Appeler {{ hotelService.selected().phones[0] }}
      </a>
      <a class="btn btn-outline" routerLink="/contact" (click)="close()">
        <svg lucideMail [size]="18"></svg>
        Contactez-nous
      </a>
    </div>
  </aside>
</header>
